
<div id="wrapper">
  <div id="container" class="clear-block">
    <div id="center">
      <div id="squeeze">
        <div class="right-corner">
          <div class="left-corner page-body">
            <div class="page-content-1col">
              <div class="clear-block">
                <div id="node-14" class="node">
                  <div class="content clear-block">
                  </div>
                  <div class="clear-block">
                    <div class="meta">
                    </div>
                  </div>
                </div>
                <div class="feature-panels">
                  <div class="feature-block bdr-right bdr-bottom" style="background:url(/assets/img-social-recruiting_new2.jpg) no-repeat scroll center bottom transparent">
                    <h2>Social Recruiting</h2>
                    <p>Let the power of social media take your recruiting to the next level.</p>
                  </div>
                  <div class="feature-block bdr-right bdr-bottom" style="background:url(assets/job-board-postings.png) no-repeat scroll center bottom transparent">
                    <h2>Hiring Collaboration</h2>
                    <p>Turn
                      your recruitment into a strategic team activity with contributions from
                      the entire team, via Simplicant's recruitment software.
                    </p>
                  </div>
                  <div class="feature-block bdr-bottom" style="background:url(/assets/img-applicant-tracking.jpg) no-repeat scroll center bottom transparent" >
                    <h2>Applicant Tracking System</h2>
                    <p>Simplify and Supercharge your Hiring with powerful and intuitive Applicant Tracking System features</p>
                  </div>
                  <div class="feature-block bdr-right" style="background:url(/assets/career-site-branding.png) no-repeat scroll center bottom transparent" >
                    <h2>Careers Site Branding</h2>
                    <p>Think and Recruit outside the box and easily create an engaging applicant experience with Simplicant's recruiting software.</p>
                  </div>
                  <div class="feature-block bdr-right" style="background:url(/assets/Employee-Referral-new3.png) no-repeat scroll center bottom transparent">
                    <h2>Employee Referral</h2> <p>Empower your Employees. Collaborate via Simplicant's recruitment software to build great teams.</p>
                  </div><div class="feature-block " style="background:url(/assets/imagesw_12_0.jpg) no-repeat scroll center bottom transparent">
                    <h2>Analytics</h2>
                    <p>Use detailed reporting and insights to improve the overall effectiveness of your hiring and applicant tracking processes.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clear">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>
<!-- /layout -->
