<div style="width: 500px;">
  <form id="post_to_twitter" method="post" enctype="multipart/form-data">
    <h2>Post to Twitter</h2>
    <div class="lightbox-field-box">
      <textarea style="width: 450px; height: 200px;"><%=  sanitize( @job.description, :tags=> %w(body)) %></textarea>
    </div>
    <div class="lightbox-btn-main">
      <div class="clear"></div>
      <div class="gen-red-btn">
        <a onclick="post_to_twitter();"><span>Post</span></a>
      </div>
      <span>
        OR
        <a onclick="$.fancybox.close(); return false;">Cancel</a>
      </span>

    </div>
  </form>
</div>
<script type="text/javascript">
  function post_to_twitter()
  {
    
  }
</script>
