<div class="alrt-message-box" id="job_del_confirm_popup">
  <div class="alrt-msg-text">Are you sure you want to delete this candidate?</div>
  <div class="alrt-buttons-box" align="center">
    <input value="OK" onclick="confirm_candidate_delete(); return true;" type="button"/>
    <%= link_to '', @candidate, 'data-method' => :delete, :id=>"candidate_delete_link",:style=>"display:none" %>
    <input value="Cancel" onclick="javascript:$.fancybox.close();" type="button"/>
  </div>
  <div class="clear"></div>
</div>
<script type="text/javascript">
  function confirm_candidate_delete() {
    $.fancybox.close();
    jQuery("#candidate_delete_link").trigger("click");
  }
</script>