<p id="notice"><%= notice %></p>

<div style=" background-color: #EEE;
     color:#000;
     border-radius: 10px;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     border: 1px solid #000;
     padding: 10px;">
  <h2>
    Tag Name
  </h2>
  <p>
    <%= @tag.name %>
  </p>
</div>


<div style="padding-top: 10px;">
  <%= link_to 'Edit', edit_tag_path(@tag) %> |
  <%= link_to 'Back', tags_path %>
</div>
